:root {
	--gray-color: hsl(0, 0%, 47%);
	--light-blue-color: hsl(198, 97%, 80%);
	--blue-color: hsl(198, 97%, 40%);
	--dark-blue-color: hsl(198, 97%, 30%);
	--background-colar: hsl(30deg 30% 95%);
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	box-sizing: border-box
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	color: #333;
	background-color: var(--background-colar);
	margin: 0;
	padding: 8px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

header {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	margin: 0 max(0px, var(--margin-size1) - var(--margin-size2));
}

p {
	margin-block-start: 0;
	margin-block-end: 0.5em;
}

a {
	color: var(--blue-color);
	text-decoration: none;
	cursor: pointer;
}

a:hover, .link:hover {
	color: var(--dark-blue-color);
}

.navigation {
	padding-bottom: 1em;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

select {
	background-color: unset;
}